/* .jumbotron{
    background-color: bisque;
    height: 40%;
}    */
.container{
    text-align: center;
}
.h1{
    font-family: 'LinotypeZapfino One', arial;
    text-align: center;
}
.h2{
    position: fixed;
}
/* .row{
    display: inline-flex;
    flex-direction:space-around;
} */
.jumbotron{
    width:74%;
    height:900px;   
    margin-left:350px;
    margin-right: 150px;
    overflow-wrap: inherit;
    background-image: url("../../assets/apollonian-2-1440.jpg");
    background-size: cover;
    background-repeat: no-repeat repeat;
}
h2{
    font-family: 'LinotypeZapfino One';
    color:rgb(161, 5, 70);
    font-size: 125px;
    text-align: center;
    margin-top: 0px;
}

#each{
    border-radius: 15px 50px;
    /* position:relative; */
}
/* .wrapper{
   margin-right:2%;
   margin-left:2%;
} */
/* div.card {
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 2px 16px;
  } */

#each{
    width: 30%; 
    height: 170px;
    margin-top: 85px; 
    margin-right: 30px;
    box-shadow:10px 10px;
    display: inline-block;
    overflow:hidden;
}



