<link href='https://www.behance.net/gallery/61668561/QUANTUM-Free-Font' rel='stylesheet' type='text/css'>

<div class="big-one">

  <h2>MY QUOTES </h2>

 
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>


 <div class="container-flex">
    <div *ngFor='let quote of quotes;let i = index' style="background-color:aqua" id="each">
      <blockquote class="blockquote" (isComplete)='quoteDelete($event,i)'>
        {{quote.quote}}
      </blockquote>
      <a target="blank" [href]="'https://twitter.com/intent/tweet?text='+ quote" class="btn btn-outline-success" style="opacity:2">
        <i class="fa fa-twitter"></i>
      </a>
      <button class="btn btn-primary" (click)='toogleExtra(i)' id="btn"> See more..</button>
      <p>
        <span style="font-size: 1.2em; color: blue;" (click)="upvote(i)">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </span> {{quote.upvotes}} &ensp;
        <span style="color: red; font-size: 1.2em;" (click)="downvote(i)">
          <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        </span>
        {{quote.downvotes}} &ensp;

      </p>
      <app-quote-details *ngIf="quote.showAuthor" [quote]='quote' (isComplete)='quoteDelete($event,i)'></app-quote-details>
    </div>
  </div>
</div>
