<div class="jumbotron">

  <h2>MY QUOTES </h2>

  <div class="container">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>


  <div class="container-flex">
    <div *ngFor='let quote of quotes;let i = index' style="background-color:aqua" id="each">
      <blockquote class="blockquote" (isComplete)='quoteDelete($event,i)'>
        {{quote.quote}}
      </blockquote>
      <a target="blank" [href]="'https://twitter.com/intent/tweet?text='+ quote" class="btn btn-outline-success" style="opacity:2">
        <i class="fa fa-twitter"></i>
      </a>
      <button class="btn btn-primary"(click)='toogleExtra(i)'> See more..</button>
    <app-quote-details *ngIf="quote.showMeaning"[quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
    </div>
  </div>
</div>
